fastapi
uvicorn[standard]
gunicorn
langchain
langchain-community
langchain-core
langchain-groq
chromadb
faiss-cpu
pypdf
PyMuPDF
python-dotenv
groq
pydantic
numpy
tiktoken
#pysqlite3-binary
scikit-learn
fastembed
